<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>CP-MMS</display-name>
    <!--Servlets-->
    <!--Servlet Mapping -->
    <!--Welcome Files-->
    <servlet>
        <servlet-name>InboxServlet</servlet-name>
        <servlet-class>controllers.InboxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutboxServlet</servlet-name>
        <servlet-class>controllers.OutboxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controllers.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OccupationServlet</servlet-name>
        <servlet-class>controllers.OccupationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controllers.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityServlet</servlet-name>
        <servlet-class>controllers.ActivityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>controllers.RoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyMailServlet</servlet-name>
        <servlet-class>controllers.MyMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InboxServlet</servlet-name>
        <url-pattern>/Mails/Inbox/100</url-pattern>
        <url-pattern>/Mails/Inbox/102</url-pattern>
        <url-pattern>/Mails/Inbox/103</url-pattern>
        <url-pattern>/Mails/Inbox/104</url-pattern>
        <url-pattern>/Mails/Inbox/105</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutboxServlet</servlet-name>
        <url-pattern>/Mails/Outbox/101</url-pattern>
        <url-pattern>/Mails/Outbox/102</url-pattern>
        <url-pattern>/Mails/Outbox/103</url-pattern>
        <url-pattern>/Mails/Outbox/104</url-pattern>
        <url-pattern>/Mails/Outbox/105</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/Mails/Category/100</url-pattern>
        <url-pattern>/Mails/Category/103</url-pattern>
        <url-pattern>/Mails/Category/104</url-pattern>
        <url-pattern>/Mails/Category/105</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OccupationServlet</servlet-name>
        <url-pattern>/Office/Occupation/100</url-pattern>
        <url-pattern>/Office/Occupation/103</url-pattern>
        <url-pattern>/Office/Occupation/104</url-pattern>
        <url-pattern>/Office/Occupation/105</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Login/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/Auth/Users/100</url-pattern>
        <url-pattern>/Auth/Users/101</url-pattern>
        <url-pattern>/Auth/Users/102</url-pattern>
        <url-pattern>/Auth/Users/103</url-pattern>
        <url-pattern>/Auth/Users/104</url-pattern>
        <url-pattern>/Auth/Users/105</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityServlet</servlet-name>
        <url-pattern>/Auth/Activities/100</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/Auth/Roles/100</url-pattern>
        <url-pattern>/Auth/Roles/101</url-pattern>
        <url-pattern>/Auth/Roles/102</url-pattern>
        <url-pattern>/Auth/Roles/103</url-pattern>
        <url-pattern>/Auth/Roles/104</url-pattern>
        <url-pattern>/Auth/Roles/105</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyMailServlet</servlet-name>
        <url-pattern>/Mails/MyMail/100</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <!--        <error-page>
        <location>/Mails/Inbox</location>
    </error-page>-->
</web-app>
