<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="theme-color" content="#ec005c" />
<link rel="icon" type="image/x-icon" href="/templates/tc_leaf/custom/images/512.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/templates/tc_leaf/custom/images/512.png">
<link rel="icon" sizes="192x192" href="/templates/tc_leaf/custom/images/512.png">
<meta charset="utf-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>404 Page not found</title>
<link rel="stylesheet" href="/media/gantry5/engines/nucleus/css-compiled/nucleus.css" type="text/css" />
<link rel="stylesheet" href="/templates/tc_leaf/custom/css-compiled/leaf__error.css" type="text/css" />
<link rel="stylesheet" href="/templates/tc_leaf/custom/css-compiled/leaf-joomla__error.css" type="text/css" />
<link rel="stylesheet" href="/templates/tc_leaf/custom/css-compiled/custom__error.css" type="text/css" />
<link rel="stylesheet" href="/templates/tc_leaf/fonts/custom/style.css" type="text/css" />
<script type="text/javascript" src="/media/jui/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/jui/js/jquery-noconflict.js"></script>
<script type="text/javascript" src="/media/jui/js/jquery-migrate.min.js"></script>
<!--[if (gte IE 8)&(lte IE 9)]>
        <script type="text/javascript" src="/media/gantry5/assets/js/html5shiv-printshiv.min.js"></script>
        <link rel="stylesheet" href="/media/gantry5/engines/nucleus/css/nucleus-ie9.css" type="text/css"/>
        <script type="text/javascript" src="/media/gantry5/assets/js/matchmedia.polyfill.js"></script>
        <![endif]-->
</head>
<body class="gantry g-leaf-style site com_gantry5 view- no-layout no-task dir-ltr itemid-177 outline-_error g-offcanvas-left g-default g-style-preset1">
<div id="g-offcanvas" data-g-offcanvas-swipe="1" data-g-offcanvas-css3="1">
<div class="g-grid">
<div class="g-block size-100 center mobile-menu-logo">
<div id="image-9544-particle" class="g-content g-particle"> <a href="/" target="_self" title="" aria-label="" rel="home">
<img src="/templates/tc_leaf/custom/images/menu_logo.jpg" alt="" />
</a>
</div>
</div>
</div>
<div class="g-grid">
<div class="g-block size-100">
<div id="mobile-menu-7022-particle" class="g-content g-particle"> <div id="g-mobilemenu-container" data-g-menu-breakpoint="52rem"></div>
</div>
</div>
</div>
<div class="g-grid">
<div class="g-block size-100 mobile-user-menu">
<div id="menu-4675-particle" class="g-content g-particle"> <nav class="g-main-nav" data-g-hover-expand="true">
<ul class="g-toplevel">
<li class="g-menu-item g-menu-item-type-component g-menu-item-156 g-standard  ">
<a class="g-menu-item-container" href="/login" title="Login" aria-label="Login">
<i class="ic-login" aria-hidden="true"></i>
<span class="g-menu-item-content">
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-131 g-standard  cart-dropdown" style="position: relative;">
<a class="g-menu-item-container" href="/cart" title="Cart" aria-label="Cart">
<i class="ic-cart-2" aria-hidden="true"></i>
<span class="g-menu-item-content">
</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
</div>
<div id="g-page-surround">
<div class="g-offcanvas-hide g-offcanvas-toggle" role="navigation" data-offcanvas-toggle aria-controls="g-offcanvas" aria-expanded="false"><i class="fa fa-fw fa-bars"></i></div>
<section id="g-page-loader" class="g-flushed">
<div class="g-container"> <div class="g-grid">
<div class="g-block size-100">
<div id="loader-2093-particle" class="g-content g-particle"> <div id="preloader">
<div id="status">
<div class="lds lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="g-navigation">
<div class="g-container"> <div class="g-grid">
<div class="g-block size-17 logo-container hidden-phone">
<div id="logo-3055-particle" class="g-content g-particle"> <a href="/" target="_self" title="" aria-label="" rel="home" class="g-logo">
<img class="logo-img" data-sm="/templates/tc_leaf/custom/images/template_club_logo_dark.png" data-lg="/templates/tc_leaf/custom/images/template_club_logo_dark.png" src="/templates/tc_leaf/custom/images/template_club_logo_dark.png" alt="" />
</a>
</div>
</div>
<div id="main_tc" class="g-block size-71 align-right hidden-phone">
<div id="menu-3154-particle" class="g-content g-particle"> <nav class="g-main-nav" data-g-mobile-target data-g-hover-expand="true">
<ul class="g-toplevel">
<li class="g-menu-item g-menu-item-type-component g-menu-item-101 g-standard  ">
<a class="g-menu-item-container" href="/" title="Home" aria-label="Home">
<i class="ic-home" aria-hidden="true"></i>
<span class="g-menu-item-content">
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-heading g-menu-item-106 g-parent g-standard  ">
<div class="g-menu-item-container" data-g-menuparent=""> <span class="g-nav-header g-menu-item-content"> <span class="g-menu-item-title">Templates</span>
</span>
<span class="g-menu-parent-indicator"></span> </div> <ul class="g-dropdown g-inactive g-fade-in-up g-dropdown-right">
<li class="g-dropdown-column">
<div class="g-grid">
<div class="g-block size-100">
<ul class="g-sublevel">
<li class="g-level-1 g-go-back">
<a class="g-menu-item-container" href="#" data-g-menuparent=""><span>Back</span></a>
</li>
<li class="g-menu-item g-menu-item-type-separator g-menu-item-164 g-parent  ">
<div class="g-menu-item-container" data-g-menuparent=""> <span class="g-separator g-menu-item-content"> <span class="g-menu-item-title">Admin Templates</span>
</span>
<span class="g-menu-parent-indicator"></span> </div> <ul class="g-dropdown g-inactive g-fade-in-up g-dropdown-right">
<li class="g-dropdown-column">
<div class="g-grid">
<div class="g-block size-100">
<ul class="g-sublevel">
<li class="g-level-2 g-go-back">
<a class="g-menu-item-container" href="#" data-g-menuparent=""><span>Back</span></a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-168  ">
<a class="g-menu-item-container  badge-new" href="/premium-free-templates/admin-templates/vego-admin-bootstrap-4-html-and-angular-admin-dashboard-template">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Vego Admin</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-107  ">
<a class="g-menu-item-container" href="/premium-free-templates/admin-templates/leaf-admin-bootstrap-4-html-and-angular-admin-dashboard-template">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Leaf Admin</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-108  ">
<a class="g-menu-item-container" href="/premium-free-templates/admin-templates/bird-pro-multipurpose-responsive-admin-dashboard-html5-web-app-kit-with-bootstrap-4">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Bird Pro</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-111  ">
<a class="g-menu-item-container" href="/premium-free-templates/admin-templates/penguin-responsive-html-web-app-kit">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Penguin Admin</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-175  ">
<a class="g-menu-item-container" href="/premium-free-templates/admin-templates/bird-multipurpose-responsive-admin-dashboard-html5-web-app-kit-with-bootstrap-3">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Bird Admin (V1)</span>
</span>
</a>
</li>
</ul>
</div>
</div>
</li>
</ul>
</li>
<li class="g-menu-item g-menu-item-type-separator g-menu-item-134  ">
<div class="g-menu-item-container" data-g-menuparent=""> <span class="g-separator g-menu-item-content"> <span class="g-menu-item-title">Joomla Templates</span>
</span>
</div> </li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-171  ">
<a class="g-menu-item-container" href="/premium-free-templates/wordpress-templates">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Wordpress Templates</span>
</span>
</a>
</li>
</ul>
</div>
</div>
</li>
</ul>
</li>
<li class="g-menu-item g-menu-item-type-alias g-menu-item-166 g-standard  ">
<a class="g-menu-item-container" href="/joomla-wordpress-gantry5-particles-atoms">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Particles</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-122 g-standard  ">
<a class="g-menu-item-container" href="/free-joomla-wordpress-html-templates">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Freebies</span>
</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="g-block size-12 align-right hidden-phone">
<div id="menu-5137-particle" class="g-content g-particle"> <nav class="g-main-nav" data-g-mobile-target data-g-hover-expand="true">
<ul class="g-toplevel">
<li class="g-menu-item g-menu-item-type-component g-menu-item-156 g-standard  ">
<a class="g-menu-item-container" href="/login" title="Login" aria-label="Login">
<i class="ic-login" aria-hidden="true"></i>
<span class="g-menu-item-content">
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-131 g-standard  cart-dropdown" style="position: relative;">
<a class="g-menu-item-container" href="/cart" title="Cart" aria-label="Cart">
<i class="ic-cart-2" aria-hidden="true"></i>
<span class="g-menu-item-content">
</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
</div>
<div class="g-grid">
<div class="g-block size-100 center visible-phone mobile-logo">
<div id="image-1179-particle" class="g-content g-particle"> <a href="/" target="_self" title="" aria-label="" rel="home">
<img src="/templates/tc_leaf/custom/images/128.png" alt="" />
</a>
</div>
</div>
</div>
</div>
</section>
<section id="g-container-main" class="g-wrapper">
<div class="g-container"> <div class="g-grid">
<div class="g-block size-100">
<main id="g-mainbar">
<div class="g-grid">
<div class="g-block size-25">
<div class="spacer"></div>
</div>
<div class="g-block size-50 center">
<div id="custom-4538-particle" class="g-content g-particle"> <div class="error">
<div class="title">404</div>
<div class="subtitle">Page not found on the website</div>
<div class="text">It seems that the page you are looking for is not on this website. Try something else.</div>
<a href="/index.php" class="button button-rounded button-large">Back To Home</a>
</div>
</div>
</div>
<div class="g-block size-25">
<div class="spacer"></div>
</div>
</div>
</main>
</div>
</div>
</div>
</section>
<footer id="g-footer">
<div class="g-container"> <div class="g-grid">
<div id="subscribe" class="g-block size-100 center">
<div class="g-content">
<div class="moduletable ">
<div class="">
<h2 class="g-title g-simpleform-title">Subscribe to our Newsletter</h2> <p class="g-simpleform-description">Subscribe to our mailing list and stay up-to-date with all our awesome releases, latest updates and amazing discount offers!</p> <form id="g-simpleform-module-simpleform-110" data-simpleform-id="g-simpleform-module-simpleform-110" data-simpleform-token="fe9e58a1efb9bc7f2221e3d14fe7e0d2" data-simpleform-requiredmessage="" class="g-simpleform" action="#" method="post">
<div class="g-simpleform-fields">
<div class="g-simpleform-item  ">
<label for="g-simpleform-item-id-1">Email<sup>*</sup></label>
<input type="email" class=" g-simpleform-item-required" name="Email" required="required" id="g-simpleform-item-id-1" placeholder="Enter your email">
</div>
<div class="g-simpleform-button">
<a href="javascript:;" class="button bg-primary">Subscribe</a>
</div>
</div>
<div class="g-simpleform-thankyou">
<p class="alert alert-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Thank you for subscribing.</p>
</div>
<div class="g-simpleform-error">
<p class="alert alert-error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error!</p>
</div>
</form>
</div> </div>
</div>
</div>
</div>
</div>
</footer>
<section id="g-copyright">
<div class="g-container"> <div class="g-grid">
<div class="g-block size-25">
<div id="custom-3510-particle" class="g-content g-particle"> <div class="copyright-text">&copy; 2019 - Template Club&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved.</div>
</div>
</div>
<div class="g-block size-50 center">
<div id="menu-6283-particle" class="g-content g-particle"> <nav class="g-main-nav" data-g-hover-expand="true">
<ul class="g-toplevel">
<li class="g-menu-item g-menu-item-type-component g-menu-item-113 g-standard  ">
<a class="g-menu-item-container" href="/hire-us">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Hire Us</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-173 g-standard  ">
<a class="g-menu-item-container" href="/terms-of-use">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Terms of Use</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-174 g-standard  ">
<a class="g-menu-item-container" href="/privacy-policy">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Privacy Policy</span>
</span>
</a>
</li>
<li class="g-menu-item g-menu-item-type-component g-menu-item-114 g-standard  ">
<a class="g-menu-item-container" href="/support">
<span class="g-menu-item-content">
<span class="g-menu-item-title">Contact Us</span>
</span>
</a>
</li>
</ul>
</nav>
</div>
</div>
<div class="g-block size-20 align-right">
<div id="social-4227-particle" class="g-content g-particle"> <div class="g-social ">
<a href="https://www.facebook.com/templateclub.co.in/" target="_blank">
<span class="ic-facebook"></span> </a>
<a href="https://themeforest.net/user/template_club/portfolio" target="_blank">
<span class="ic-envato"></span> </a>
<a href="https://www.instagram.com/template.club/" target="_blank">
<span class="ic-instagram"></span> </a>
<a href="https://in.pinterest.com/aaditya5292/" target="_blank">
<span class="ic-pinterest"></span> </a>
</div>
</div>
</div>
<div class="g-block size-5">
<div id="totop-1400-particle" class="g-content g-particle"> <div class="">
<div class="g-totop">
<a href="#" id="g-totop" rel="nofollow">
<i class="ic-up-chevron"></i> </a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
<script type="text/javascript" src="/media/gantry5/assets/js/main.js"></script>
<script type="text/javascript" src="/templates/tc_leaf/js/core.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
			var scrollTop = 0;
			var offset = 1;
			var topOffset = 1;

			
        	$(window).scroll(function(){
        		scrollTop = $(window).scrollTop();
        		if (scrollTop >= offset) {
        			$('#g-navigation').addClass('navigation-fixed');
					$('.g-offcanvas-toggle').addClass('fixed-top');
					jQuery('.logo-img').attr('src', jQuery('.logo-img').attr('data-sm'));
        		} else if (scrollTop < topOffset) {
        			$('#g-navigation').removeClass('navigation-fixed');
					$('.g-offcanvas-toggle').removeClass('fixed-top');
					jQuery('.logo-img').attr('src', jQuery('.logo-img').attr('data-lg'));
        		}
        	});
        	if (document.getElementById('g-slideshow')) {
        		$('#g-topbar').addClass(' transparent');        		$('#g-navigation').addClass(' transparent');				        	}
        });
		</script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
        	$(window).load(function() {
        		$('#status').delay(600).fadeOut();
        		$('#preloader').delay(600).fadeOut('slow');
        		$('body').delay(300).css({'overflow':'visible'});
        	})
        });
    </script>
<script type="text/javascript" src="/templates/tc_leaf/js/simpleform.js"></script>
<jdoc:include type="modules" name="debug" />

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141924810-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141924810-1');
</script>
</body>
</html>
